name: Sliver Server ARM Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Fetch and Build Sliver Server
        run: |
          git clone https://github.com/BishopFox/sliver.git .sliver
          cd .sliver
          go mod download
          GOOS=linux GOARCH=arm64 CGO_ENABLED=1 make server
          mv sliver-server ../sliver-server-arm64

      - name: Release Server Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sliver-server-binary
          path: sliver-server-arm64
